@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
/* Estilos BODY */
body{
    font-family: "Roboto", sans-serif;
    width: 100vw;
}
    /* Estilos HEADER */
        /* Estilos HEADER Superior */
        header>div.headerSuperior{
            background-color: #D1891C;
            color: black;
            font-size: 48px;
            font-weight:400;
            padding-left: 67px;
            padding-top: 4px;
            padding-bottom: 1px;
        }

        /* Estilos HEADER Inferior */
        header>div.headerInferior{
            background-color: #00669F;
            color: white;
            font-family: "Roboto", sans-serif;
            font-size: 72px;
            font-weight:400;
            padding-left: 67px;
            padding-top: 69px;
            padding-bottom: 69px;
        }

    /* Estilos MAIN */
        /* Estilos MAIN Section */
       
        main>section.sectionCards{
            
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items:center;
        }
        main>section.sectionCards>div.boton{
            position: fixed;
            height: 150px;
            width: 150px;
            background-color: #00669F;
            border-radius: 100%;
            font-size: 96px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 73px;
            top: 1739px;
            

        }
        main>section.sectionCards>article>div.fondo{
            width: 805px;
            height: 492.5px;
            padding: 44px;
            margin-top: 47px;
            position: relative;
        }
        main>section.sectionCards>article>div.fondo>img.fondoPersonaje{
            border-top-right-radius: 70px;
            border-top-left-radius: 70px;
        }
        main>section.sectionCards>article>div.fondo>img.personaje{
            border-radius: 100%;
            position: absolute;
            top: 350px;
            left: 280px;
        }
        main>section.sectionCards>article>div.fondo>img.corazon{
            position: absolute;
            bottom: 360px;
            right: 650px;
        }
                
        main>section.sectionCards>article>div.texto{
            width: 805px;
            height: 872px;
            background-color: #F3F3F3;
            margin-left: 44px;
        }   
        main>section.sectionCards>article>div.texto>h2{
            font-size: 64px;
            text-align: center;
            color: black;
            padding-top: 220px;
        }
        main>section.sectionCards>article>div.texto>p{
            font-size: 36px;
            text-align: justify;
            font-weight: 400;
            color: black;
            margin-left: 44px;
            margin-right: 44px;
            margin-top: 32px;
            
        }
        main>section.sectionCards>article>div.texto>div.boton{
            width: 346px;
            height: 114px;
            background-color: #00669F;
            color: white;
            text-align: center;
            font-size: 36px;
            line-height: 120px;
            margin-left: 230px;
            margin-top: 32px;
        }

    /* Estilos FOOTER */
    footer{
        background-color: #00669F;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 36px;
    }
    footer>p{
        padding-top: 60px;
        padding-bottom: 60px;
        margin-left: 40vw;

    }
    footer>img{
        padding-right: 89px;
    }






/* MEDIAS QUERIES */
@media (min-width: 1100px){
    main>section.sectionCards{
            display: flex;
            flex-direction: row;
            justify-content:space-around;
            flex-wrap: wrap;

        }
}